.allbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    background-color: rgb(157, 163, 163);
    padding: 50px;
    border-radius: 15px;
    margin: 50px;
    color: white;
}

.downcart {
    display: flex;
    justify-content: space-between;
    margin: 0px 20px 0px 0px;
}

button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100px;
    height: 40px;
    border: none;
    padding: 0px 25px;
    background-color: rgb(38, 56, 94);
    color: white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 5px 5px 0px rgb(28, 41, 70);
    transition-duration: .3s;
  }
  
  button:hover {
    color: red;
  }

  .chekout:hover {
    color: green;
  }
  
  button:hover svg {
    right: 43%;
    margin: 0;
    padding: 0;
    border: none;
    transition-duration: .3s;
  }
  
  button:active {
    transform: translate(3px , 3px);
    transition-duration: .3s;
    box-shadow: 2px 2px 0px rgb(38, 56, 94,0.500);
  }

  button {
    margin: 15px 0px 15px 15px;
  }
  .total {
    margin: 10px 0px 10px 0px;
    background-color: rgba(229, 229, 229, 0.803);
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
    color: black;
  }

  .panier {
    margin: 10px 0px 10px 0px;
    background-color: rgba(229, 229, 229, 0.803);
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
    color: black;
  }

  .panier div {
    display: flex;
    align-items: center;
  }